.item {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 35px;
  background-color: #ff6f69;
  color: #ffeead;
}

.item p {
  margin: 0 0 5px 0;
}

.container {
  display: grid;
  grid-template-columns: 100px 200px 400px;
  grid-template-rows: 200px 150px 100px;
  gap: 50px 100px;
}
